.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.el{
  color: rgb(208, 0, 255);
  /* color: #050805; */
}



body{ 
  background-image: url("https://img.freepik.com/free-vector/realistic-white-golden-geometric-background_79603-2032.jpg?w=1060&t=st=1685523869~exp=1685524469~hmac=c5ea1d561befb772918a1d6d64869112b425be6d2e3467dff5be12de16ecf9f9"); 
  background-position: center center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size:cover;
}


